In [33]:
import pandas as pd
import numpy as np
from math import *

In [34]:
from pandas import Series, DataFrame

In [35]:
obj = pd.Series([4, 7, -5, 3])

In [36]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [37]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [38]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [39]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [40]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [41]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [42]:
obj2['a']

-5

In [43]:
 obj2['d'] = 6

In [44]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [45]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [46]:
 obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [47]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

162754.79141900392

In [49]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [51]:
obj3 = pd.Series(sdata)

In [52]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [53]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [54]:
obj4 = pd.Series(sdata, index=states)

In [55]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [56]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [58]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [59]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [60]:
 obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [61]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [62]:
frame = pd.DataFrame(data)

In [63]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [64]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9