In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a','b', 'b', 'b', 'b'],'data': np.random.randn(8),
'weights': np.random.rand(8)})

In [3]:
df

  category      data   weights
0        a -1.016966  0.979433
1        a -0.129799  0.166304
2        a -0.205969  0.368301
3        a -0.210865  0.469809
4        b  1.300124  0.499598
5        b -1.085693  0.750766
6        b  1.178444  0.587485
7        b  0.062903  0.378928

In [5]:
 grouped = df.groupby('category')

In [6]:
grouped

In [7]:
df

  category      data   weights
0        a -1.016966  0.979433
1        a -0.129799  0.166304
2        a -0.205969  0.368301
3        a -0.210865  0.469809
4        b  1.300124  0.499598
5        b -1.085693  0.750766
6        b  1.178444  0.587485
7        b  0.062903  0.378928

In [8]:
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])

In [10]:
grouped.apply(get_wavg)

category
a   -0.601136
b    0.248375
dtype: float64